/* Base styles */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'Times New Roman', Times, serif;
}

:root {
    --bg-color: #191f36;
    --snd-bg-color: #262B40;
    --text-color: #fff;
    --main-color: #59B2F4;
    
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}



.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Smooth transition for color change */
    
}

/* Style for hover and active links */
.navbar a:hover,
.navbar a.active {
    color: var(--main-color); /* Change color on hover */
}


#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/* Home Section */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color :var(--main-color)
}

.home-content h1 {
    width: 25vw;

}

.home-img img {
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateX(0);
    }

}


.home-content p {
    font-size: 1.6rem;

}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent ;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 1rem;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover .stars {
    box-shadow: none;
}


.home-img img {
    width: 70vw;
    margin-top: 4rem;
    max-width: 500px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInScale 1s ease-out 0s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;
}

.home-img img:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

/* About Section */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}

.about-img {
    flex: 1;
    text-align: center;
    
}

.about-img img {
    width: 35vw;
    transition: filter 0.5s ease, box-shadow 0.3s ease;  
    border-radius: 50%; /* Make the image circular */
    overflow: hidden;
}

.about-img img:hover {
    filter: grayscale(100%); /* Apply grayscale effect on hover */
    box-shadow: 0 0 1rem var(--main-color); /* Add a glowing effect with box-shadow */
    animation: glowAnimation 1s infinite alternate;
}

@keyframes glowAnimation {
    0% {
        box-shadow: 0 0 0.5rem var(--main-color);
    }
    100% {
        box-shadow: 0 0 1rem var(--main-color);
    }
}

.heading {
    text-align: center;
    line-height: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
    font-size: 2.5rem;
}



.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}



.experience {
    padding: 50px 20px;
   
    background: var(--bg-color);
}

.experience .heading {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    background: var(--bg-color);
}

.experience .heading span {
    color: var(--main-color); /* Accent color */
}

.experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.experience-box {

    padding: 1rem 2rem;
    background:var(--snd-bg-color);
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--bg-color);
   font-size: 5.4rem;
    width: 500px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;






    
}

.experience-box:hover {
    box-shadow: none;
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(123, 134, 231, 0.15);
}


.image{
padding: 20px 60px;
width: 100%;
height: 30%;
display: flex;
justify-content: center;
align-items: center;


}



.experience-box h2 {
    font-size: 2.5rem;
    color:var(--text-color);
    margin-bottom: 10px;
}

.experience-box h3 {
    font-size: 2rem;
    color:var(--text-color);
    margin-bottom: 15px;
}

.experience-box p {
    font-size: 1.5rem;
    color:var(--text-color);
    line-height: 1.5;
}






.education{
    padding: 50px 20px;
   
    background: var(--snd-bg-color);
}

.education .heading {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
   
}

.education .heading span {
    color: var(--main-color); /* Accent color */
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.education-box {



    padding: 1rem 2rem;
    background-color:var(--bg-color);
    border-radius: 1rem;
     box-shadow: 0 4px 6px rgba(96, 140, 229, 0.1);
   font-size: 5.4rem;
    width: 500px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;




   
   
   
}

.education-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(123, 134, 231, 0.15);
}

.education-box h2 {
    font-size: 2.5rem;
    color:var(--text-color);
    margin-bottom: 10px;
}

.education-box h3 {
    font-size: 2rem;
    color:var(--text-color);
    margin-bottom: 15px;
}

.education-box p {
    font-size: 1.5rem;
    color:var(--text-color);
    line-height: 1.5;
}
















/* Services Section */
.services h2{
    margin-bottom: 5rem;
    font-size: 3rem;
}


.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--snd-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;

}

.services-box p {
    font-size: 1.6rem;
    margin-bottom: 1rem 0 3rem;
}

.services-box .btn {
    background: transparent;
    border: 2px solid var(--main-color);
}

.services-box:hover {
    background: var(--main-color);
}

.services-box:hover .btn {
    background: var(--text-color);
    color: var(--main-color);
}



/* Skills Section */
.skills {
    background: var(--bg-color);
    padding: 5rem 0;
}

.skills .heading {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 3rem;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-box {
    background: var(--bg-color);
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    transition: 0.5s ease;
}

.skills-box i {
    font-size: 4rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.skills-box h3 {
    font-size: 2rem;
    color: var(--text-color);
}

.skills-box p {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 0.5rem;
}

.skills-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 1rem var(--main-color);
}



.project{
    
    background: var(--bg-color);
    
}

.project .heading {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 30px;
   
}



.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 2rem;
}
  
  .project-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0 2rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
  .project-card img {
    width: 100%;
    height: auto;
    padding: 60px;
    justify-content: center;
  }
  
  .project-card h2 {
    font-size: 1.75rem;
    font-weight: 2rem;
    color: #1e1e2f;
    padding: 1.25rem;
  }


  .project-card p {
    font-size: 1.5rem;
    color: #1e1e2f;
    padding: 1rem;
  }
































.achievement{
    
   
    background: var(--bg-color);
}

.achievement .heading {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 30px;
   
}



.achievement-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 2rem;
  }
  
  .achievement-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
  }
  
  .achievement-card:hover {
    transform: scale(1.05);
  }
  
  .achievement-card img {
    width: 100%;
    height: auto;
  }
  
  .achievement-card h3 {
    font-size: 1.2rem;
    color: #1e1e2f;
    padding: 1rem;
  }














@keyframes fill72 {
    from {
        width: 0;
    }
    to {
        width: 72%;
    }
}

@keyframes fill90 {
    from {
        width: 0;
    }
    to {
        width: 90%;
    }
}

@keyframes fill80 {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

@keyframes fill62 {
    from {
        width: 0;
    }
    to {
        width: 62%;
    }
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .skills-container {
        flex-direction: column; /* Stack the columns on top of each other */
        gap: 1rem; /* Adjust gap for smaller screens */
    }

    .skill-left,
    .skill-right {
        width: 100%; /* Full width for each column */
    }
}



/* Portfolio Section */
.project {
   background: var(--snd-bg-color);
}

.project h2{
    margin-bottom: 4rem;
    font-size: 3.0rem;
}


.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.project-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    perspective: 1000px;
}

.project-box img {
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
    backface-visibility: hidden; /* Hide the back face of the card */
}

.project-box:hover img {
    transform: rotateY(180deg); /* Rotate the image on hover */
}

.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1) var(--bg-color));
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.project-box:hover .project-layer {
    transform: rotateY(0); /* Rotate the layer to show on hover */
}

.project-layer h4 {
    font-size: 2.6rem;
    margin: .3rem 0 1rem;

}

.project-layer p {
    font-size: 1.6rem;
    margin-bottom: .3rem 0 1rem;
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;

}

.project-layer a i {
    font-size: 2rem;
    color: var(--snd-bg-color);
}


.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #1183db;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all .3s;
  }
  
  .Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  
  .Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
    backdrop-filter: blur(4px);
  }
  
  



/* Contact Section */

/* Ensure the contact section takes the full height of the viewport */






.contact {
    margin-bottom: 3rem;

}

.contact h2 {
    margin-bottom: 2rem;
    font-size: 3.0rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}


.contact form .input-box input, 
.contact form textarea {
 
    width: 100%;
    padding: 2.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background:var(--snd-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;

}

.contact form .input-box input {
    width:49%;
}

.contact form textarea {
    resize: none;

}

.contact form .btn {
    margin-top: 2rem;
    cursor:pointer;
}




















/* Footer Section */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--snd-bg-color);
}

.footer-text {
    font-size: 1.6rem;
}

.footer-iconTop {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border-radius: 0.8rem;
    transition: 0.5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--snd-bg-color);
}

/* Breakpoints */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3%;
    }

    .services {
        padding: 7rem;
    }

    .achievement {
        padding-bottom: 7rem;
    }

    .contact {
        min-height:auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 90vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column;
    }

    .about-img img {
        width: 90vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .achievement h2 {
        margin-bottom: 3rem;
    }

    .achievement-container {
        grid-template-columns: repeat(2, 1fr);
    }
    

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content {
        order: 2;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column;
    }

    .about-img img {
        width: 90vw;
        margin-top: 4rem;
    }

    .services {
        margin-bottom: 3rem;
    }

    .achievement-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .achievement-container {
        grid-template-columns: 1fr;
    }

    .home-img img {
        width: 80vw;
        margin-top: 8rem;
    }

    .about-img img {
        width: 100vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .achievement h2 {
        margin-bottom: 3rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}